html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.larger {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: gray;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previousElement {
    color: white;
    font-size: 1.5rem;
}

.output .currentElement {
    color: white;
    font-size: 2.5rem;
}